* {
  margin: 0;
}
@font-face {
  font-family: 'digital';
  src: url("DS-DIGI.TTF");
}
@font-face {
  font-family: 'barcode';
  src: url("ciacode39_m.ttf");
}
body {
  background-color: #EDEDE3;
}
h1 {
  color: #20201E;
  padding: 10px;
  font-family: barcode;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: #20201E;
  background: transparent;
  font-size: 1.5em;
  text-align: center;
  line-height: 100px;
}
i {
  font-size: 25px;
  color: #20201E;
}
.icons {
  font-size: 25px;
  color: #20201E;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  font-family: digital;
}
.navWrapper {
  position: fixed;
  top: 10px;
  right: 0;
  height: 200px;
  width: 155px;
  background-color: #b4e8f8;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-end;
  border-radius: 10px;
  font-family: digital;
}
nav a {
  font-size: 25px;
  text-decoration: none;
  color: #979691;
  margin: 10px 20px;
}
nav a:hover {
  color: #4d4b4b;
  text-decoration: none;
}
.section {
  height: 100%;
}
.dropDownMenu {
  padding: 20px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.toggle {
  display: none;
}
@media screen and (min-width: 600px) {
  .dropDownMenu {
    display: none;
  }
  .navWrapper {
    height: 100%;
    position: relative;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .icons {
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
