img {
    height: 275px;
    width: 275px;
    display: inline-block;
}

.yellow {
    color: yellow
}

.limegreen {
    color: rgb(72, 255, 0);
}

.orange {
    color: orange;
}

.cursive {
    font-family: 'Brush Script MT', cursive;
}

.type {
    font-family: 'Courier New', monospace;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

.arial {
    font-family: Arial, sans-serif;
}