body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.spidey {
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: 0% -15%;
}

@keyframes swing {
  0%{transform: rotate3d(0,0,1,115deg)}
  100%{transform: rotate3d(0,0,1,-28deg)}
}